<div class="news-container">
  <div class="row">
    <div class="col-md-12">
      <h2 class="news-title" style="font-size: 35px;">Thông tin tài liệu về các kết quả và chứng nhận của HONIVY</h2>
    </div>
  </div>
  <div class="news-list">
    <!-- Card Item -->
    <div class="news-card">
      <img src="assets/image/anhhonivy/anh1.jpg" class="news-image" />
      <div class="news-content">
        <h3 class="news-heading">Về kết quả thử nghiệm 1</h3>
        <p class="news-description">
          Kết quả phân tích chỉ có giá trị trên mẫu thử nhận được từ khách hàng/ Testing results in this test report...
        </p>
        <div class="news-meta">
          <span class="news-date">
            <span class="star">&#9733;</span>
            <span class="star">&#9733;</span>
            <span class="star">&#9733;</span>
            <span class="star">&#9733;</span>
          </span>
          <a target="_blank"
          href="https://api.honivy.com:6003/document/KQ%20-%20%C4%90%E1%BB%A8C%20MINH%20HO%C3%80NG%20(NGU%E1%BB%92N%20NHN-8795%20)%20%20-%20AEJ6240800091-1.pdf" class="news-link">
          Xem chi tiết</a>
        </div>
      </div>
    </div>

    <!-- Repeat for other cards -->
    <div class="news-card">
      <img src="assets/image/anhhonivy/anh2.jpg" class="news-image" />
      <div class="news-content">
        <h3 class="news-heading">Về kết quả thử nghiệm 2</h3>
        <p class="news-description">
          Giá trị dinh dưỡng tham chiếu là tỷ lệ đáp ứng nhu cầu  dinh dưỡng hàng ngày (với khẩu phần 2000 kcal)...
        </p>
        <div class="news-meta">
          <span class="news-date">
            <span class="star">&#9733;</span>
            <span class="star">&#9733;</span>
            <span class="star">&#9733;</span>
            <span class="star">&#9733;</span>
          </span>
          <a target="_blank"
          href="https://api.honivy.com:6003/document/SCAN%20-%20%C4%90%E1%BB%A8C%20MINH%20HO%C3%80NG%20%20-%20AEJ6240800091-1.pdf" class="news-link">Xem chi tiết</a>
        </div>
      </div>
    </div>

    <div class="news-card">
      <img src="assets/image/anhhonivy/anh3.jpg" class="news-image" />
      <div class="news-content">
        <h3 class="news-heading">Chứng nhận đăng ký</h3>
        <p class="news-description">
          Giấy chứng nhận đăng ký doanh nghiệp công ty trách nhiệm hữu hạn hai thành viên trở lên, tên công...
        </p>
        <div class="news-meta">
          <span class="news-date">
            <span class="star">&#9733;</span>
            <span class="star">&#9733;</span>
            <span class="star">&#9733;</span>
            <span class="star">&#9733;</span>
          </span>
          <a target="_blank"
          href="https://api.honivy.com:6003/document/CHỨNG NHẬN ĐĂNG KÝ KD.pdf" class="news-link">Xem chi tiết</a>
        </div>
      </div>
    </div>

    <div class="news-card">
      <img src="assets/image/anhhonivy/anh4.jpg" class="news-image" />
      <div class="news-content">
        <h3 class="news-heading">Chứng nhận HACCP</h3>
        <p class="news-description">
          Chứng nhận hệ thống phân tích mối nguy hiểm và điểm kiểm soát tới hạn của - HACCP CODEX 2020...
        </p>
        <div class="news-meta">
          <span class="news-date">
            <span class="star">&#9733;</span>
            <span class="star">&#9733;</span>
            <span class="star">&#9733;</span>
            <span class="star">&#9733;</span>
          </span>
          <a target="_blank"
          href="https://api.honivy.com:6003/document/2. HACCP NHÀ MÁY ORGANIC.pdf" class="news-link">Xem chi tiết</a>
        </div>
      </div>
    </div>


    <div class="news-card">
      <img src="assets/image/anhhonivy/anh8.jpg" class="news-image" />
      <div class="news-content">
        <h3 class="news-heading">Chứng nhận GMP</h3>
        <p class="news-description">
          Chứng nhận hệ thống quản lý thực hành sản xuất tốt của công ty cổ phần dược phẩm tập đoàn organic, được đánh giá...
        </p>
        <div class="news-meta">
          <span class="news-date">
            <span class="star">&#9733;</span>
            <span class="star">&#9733;</span>
            <span class="star">&#9733;</span>
            <span class="star">&#9733;</span>
          </span>
          <a target="_blank"
          href="https://api.honivy.com:6003/document/5.%20GMP%20NH%C3%80%20M%C3%81Y%20ORGANIC.pdf" class="news-link">Xem chi tiết</a>
        </div>
      </div>
  </div>



  <div class="news-card">
    <img src="assets/image/anhhonivy/anh5.jpg" class="news-image" />
    <div class="news-content">
      <h3 class="news-heading">Chứng nhận ISO</h3>
      <p class="news-description">
        Căn cứ quyết định số 01/QĐ-GOODVN ngày 05 tháng 1 năm 2018 của công ty cổ phần chứng nhận quốc gia GOOD Việt Nam...
      </p>
      <div class="news-meta">
        <span class="news-date">
          <span class="star">&#9733;</span>
          <span class="star">&#9733;</span>
          <span class="star">&#9733;</span>
          <span class="star">&#9733;</span>
        </span>
        <a target="_blank"
        href="https://api.honivy.com:6003/document/3. ISO 22000 NHÀ MÁY ORGANIC.pdf" class="news-link">Xem chi tiết</a>
      </div>
    </div>
</div>




<div class="news-card">
  <img src="assets/image/anhhonivy/anh6.jpg" class="news-image" />
  <div class="news-content">
    <h3 class="news-heading">Chứng nhận FDA</h3>
    <p class="news-description">
      This certificate affirms that the above-named facility is registered with the US FDA pursuant to the
regulations required by the US laws...
    </p>
    <div class="news-meta">
      <span class="news-date">
        <span class="star">&#9733;</span>
        <span class="star">&#9733;</span>
        <span class="star">&#9733;</span>
        <span class="star">&#9733;</span>
      </span>
      <a target="_blank"
      href="https://api.honivy.com:6003/document/4.%20FDA%20NH%C3%80%20M%C3%81Y%20ORGANIC.pdf" class="news-link">Xem chi tiết</a>
    </div>
  </div>
</div>



<div class="news-card">
  <img src="assets/image/anhhonivy/anh7.jpg" class="news-image" />
  <div class="news-content">
    <h3 class="news-heading">Về kem tan mỡ</h3>
    <p class="news-description">
      Phiếu công bố sản phẩm mỹ phẩm. Kem, nhũ, sữa, gel, hoặc dầu dùng trên da tay, mặt, chân. Mặt nạ (chỉ trừ sản phẩm làm bong da)...
    </p>
    <div class="news-meta">
      <span class="news-date">
        <span class="star">&#9733;</span>
        <span class="star">&#9733;</span>
        <span class="star">&#9733;</span>
        <span class="star">&#9733;</span>
      </span>
      <a target="_blank"
      href="https://api.honivy.com:6003/document/Kem%20tan%20m%E1%BB%A1%20honivy.pdf" class="news-link">Xem chi tiết</a>
    </div>
  </div>
</div>



<div class="news-card">
  <img src="assets/image/anhhonivy/anh9.jpg" class="news-image" />
  <div class="news-content">
    <h3 class="news-heading">Về điều khoản chính sách</h3>
    <p class="news-description">
      Chào mừng bạn đến với giao diện website hoặc ứng dụng di động HONIVY.COM- THUỘC QUYỀN SỞ HỮU ĐỘC QUYỀN SÁNG CHẾ CỦA...
    </p>
    <div class="news-meta">
      <span class="news-date">
        <span class="star">&#9733;</span>
        <span class="star">&#9733;</span>
        <span class="star">&#9733;</span>
        <span class="star">&#9733;</span>
      </span>
      <a href="https://api.honivy.com:6003/document/%C4%90I%E1%BB%80U%20KHO%E1%BA%A2N%20CH%C3%8DNH%20S%C3%81CH%20HONIVY.docx" download class="news-link">Xem chi tiết</a>
    </div>
  </div>
</div>
</div>
