/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #f5f5f5;
}

/* Container for the entire news layout */
.news-container {
  display: flex;
  max-width: 1200px;
  padding: 20px;
  border-radius: 8px;
  padding-top: 40px;
  gap: 20px;
  margin: 0 auto; /* Căn giữa container chính */
}

/* Sidebar styling */
.sidebar {
  width: 25%;
  padding-right: 20px;
  border-right: 1px solid #ccc;
}

.sidebar h3 {
  font-size: 18px;
  color: #3b873e;
  margin-bottom: 15px;
}

.sidebar-menu {
  list-style: none;
}

.menu-item {
  font-weight: bold;
  font-size: 16px;
  color: black;
  padding: 10px;
  cursor: pointer;
  border-radius: 8px;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
}

.menu-item:not(.active):hover {
  color: #000;
  transform: scale(1.05);
}

.menu-item.active {
  background-color: #3b873e;
  font-weight: bold;
  color: #fff;
  transition: none;
}

/* Content Section Styling */
.content {
  width: 75%;
  padding-left: 20px;
}

.section-title {
  font-size: 24px;
  color: #3b873e;
  font-weight: bold;
  margin-bottom: 20px;
}

.content-section {
  margin-bottom: 30px;
}

.content-title {
  font-size: 20px;
  color: #333;
  font-weight: bold;
  margin-bottom: 10px;
}

.content-text {
  font-size: 16px;
  color: #666;
  line-height: 1.6;
  margin-bottom: 15px;
}

.content-image {
  width: 100%;
  border-radius: 8px;
  margin-top: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.product__search-category {
  position: relative;
  border: none;
  background-color: #fff;
  font-size: 14px;
  color: #959595;
  height: 50px;
  padding: 0 30px 0 22px;
  min-width: 168px;
  border-radius: 50px 0 0 50px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.product__search-category-list {
  display: none;
  position: absolute;
  top: 55px;
  left: 0;
  border-radius: 5px;
  background-color: #fff;
  padding: 10px 0;
  min-width: 185px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.product__search-category-list.show {
  display: block;
}

.product__search-category-item {
  padding: 8px 16px;
  font-size: 14px;
  color: #333;
  cursor: pointer;
  transition: background-color 0.2s;
}

.product__search-category-item:hover {
  background-color: #f3f3f4;
}

.icon.arrow-icon svg {
  transform: rotate(0deg);
  transition: transform 0.3s;
}

.product__search-category.show .icon.arrow-icon svg {
  transform: rotate(180deg);
}

/* Responsive Styles */

/* Adjustments for tablets and larger mobile screens */
@media (max-width: 992px) {
  .news-container {
    flex-direction: column;
    align-items: center; /* Căn giữa nội dung */
  }

  .sidebar {
    width: 100%;
    padding-right: 0;
    border-right: none;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
  }

  .content {
    width: 100%;
    padding-left: 0;
  }

  .section-title {
    text-align: center;
    font-size: 22px;
  }

  .content-title {
    font-size: 18px;
  }

  .content-text {
    font-size: 15px;
  }
}

/* Mobile-specific styles */
@media (max-width: 768px) {
  .menu-item {
    font-size: 15px;
    padding: 8px;
    text-align: center;
  }

  .section-title {
    font-size: 20px;
  }

  .content-title {
    font-size: 17px;
  }

  .content-text {
    font-size: 14px;
  }

  .content-image {
    width: 100%;
    height: auto;
  }
}

/* Smaller mobile screens */
@media (max-width: 480px) {
  .menu-item {
    font-size: 14px;
    padding: 6px;
  }

  .section-title {
    font-size: 18px;
  }

  .content-title {
    font-size: 16px;
  }

  .content-text {
    font-size: 13px;
  }

  .content-image {
    width: 100%;
    height: auto;
  }
}
