<div class="withdraw">
    <div class="container">
        <div class="withdraw-inner">
            <form [formGroup]="withdrawForm" (ngSubmit)="onSubmit()">
                <div class="row">
                    <div class="col-md-6">
                        <!-- <div class="field">
                            <label>Mã ID người dùng:</label>
                            <input
                                type="text"
                                spellcheck="false"
                                placeholder="Nhập mã ID"
                            />
                        </div> -->
                        <!-- <div class="field">
                            <label>Tên người dùng:</label>
                            <input
                                type="text"
                                spellcheck="false"
                                placeholder="Nhập tên người dùng"
                            />
                        </div>
                        <div class="field">
                            <label>Cấp bậc:</label>
                            <input
                                type="text"
                                spellcheck="false"
                                placeholder="Nhập cấp bậc"
                            />
                        </div>
                        <div class="field">
                            <label>Tổng hoa hồng:</label>
                            <input
                                type="text"
                                spellcheck="false"
                                placeholder="Nhập tên người dùng"
                            />
                        </div> -->
                    </div>
                    <div class="col-md-6">
                        <div class="field">
                            <label>Số điểm muốn rút:</label>
                            <input
                                type="text"
                                spellcheck="false"
                                formControlName="commission"
                                placeholder="Nhập tên người dùng"
                            />
                        </div>
                        <!-- <div class="field">
                            <label>Phương thức rút tiền:</label>
                            <input
                                type="text"
                                spellcheck="false"
                                placeholder="Nhập số tài khoản ngân hàng"
                            />
                        </div>
                        <div class="field">
                            <label>Tên ngân hàng:</label>
                            <input
                                type="text"
                                spellcheck="false"
                                placeholder="Nhập số tài khoản ngân hàng"
                            />
                        </div>
                        <div class="field">
                            <label>Số tài khoản:</label>
                            <input
                                type="text"
                                spellcheck="false"
                                placeholder="Nhập số tài khoản ngân hàng"
                            />
                        </div>
                        <div class="field">
                            <label>Chủ tài khoản tài khoản:</label>
                            <input
                                type="text"
                                spellcheck="false"
                                placeholder="Nhập số tài khoản ngân hàng"
                            />
                        </div> -->
                    </div>
                </div>
                <button type="submit">Rút tiền</button>
            </form>
        </div>
    </div>
</div>
