.form-register{
    height: 520px;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 10px;
}

.form-register::-webkit-scrollbar {
    width: 8px;
    /* Độ rộng thanh cuộn */
}

.form-register::-webkit-scrollbar-thumb {
    background: #b6b4b4;
    /* Màu thanh cuộn */
    border-radius: 4px;
    /* Bo góc thanh cuộn */
}

.form-register::-webkit-scrollbar-thumb:hover {
    background: #939292;
    /* Màu thanh cuộn khi hover */
}

.form-register::-webkit-scrollbar-track {
    background: #f1f1f1;
    /* Màu nền phía sau thanh cuộn */
}
.item-ID{
    width: 40px;
}